
//import de variables
@import"../utilidades/variables";
//import de mixin
@import"../utilidades/mixin";
html{
    background-color: $color-principal;
}
/*propiedades en header*/
header{
    text-align: center;
    text-decoration: none;
}
/* barra de naveacion */
.marron-bg{
    background-color: #612B11;
}

.lm-auto{
    margin: 10px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
main{
    background-color: $color-principal;
}
/* banner principal del index */
.banner{
    background-image: linear-gradient(100deg, #000000, #00000020),
		url('../img/banner.jpeg');
	height: 60rem;
	background-size: cover;
	background-position: center;
    .content-banner {
        color:whitesmoke;
        max-width: 60rem;
        margin: 0 auto;
        padding: 20rem 0;
        text-align: center;
    
    }
    .banner p{
        color:whitesmoke;
	    font-size: 1.2rem;
	    margin-bottom: 1rem;
	    font-weight: 500;
    }
    .banner h2 {
        color: whitesmoke;
        font-size:3.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .banner a {
      margin-top: 2rem;
	  text-decoration: none;
	  color: #fff;
	  background-color: var(--primary-color);
	  display: inline-block;
	  padding: 1rem 3rem;
	  text-transform: uppercase;
	  border-radius: 3rem;
    }
}



/* categorias de productos del index */
.top-categorias{
    @include flex;
    gap: 1rem;
	margin-bottom: 4rem;
    border-radius: 12px;
}
.container-categorias {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-content: center;

}
.card-categoria {
	height: 20rem;
    width:16rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	border-radius: 2rem;
	gap: 2rem;
}
.categoria-cafe {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/latte-art.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.categoria-reposteria{
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/img.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.categoria-salados {
	background-image: linear-gradient(#00000080, #00000080),
		url('../img/img-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-categoria{ 
    height: 20rem;
    width:16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 2rem;
    gap: 2rem;
     p{
        font-size: 2.5rem;
        color: #fff; 
        text-transform: capitalize;
        position: relative 
     }
}

.card-categoria p::after{
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-categoria span {
    text-align: center;
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-categoria span:hover {
	color:black;
}

/* galeria de fotos en html */
.galeria {
	@include galeria;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.galeria-img-3 {
    grid-column: 2/4;
    grid-row: 1/3;
}


/* contenido de menu  */
.btn-verde{
    color: $coloe-secundario;
    .verde:hover{
        background-color:$boton-hover ;
    }
}
.menu{
    margin: 20px;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,2fr));
    grid-gap: 10px 10px;
    justify-items: center;
}
.food-items {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border-radius: 15px;
    justify-items: center;
    transition: .2s ease-in-out;
    img{
        position: relative;
        border-radius: 15px 15px 0 0;
        cursor: pointer
    }

}
h1{
    grid-column: 1/1;
    text-align: center;
    color:$coloe-secundario;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: repeat(1fr 20px) ;
    .details-sub{
        grid-template-columns: auto auto;
        h5{
         text-align: center;
         color: #000;
         font-weight: 600;
         font-size: 18px;
       }
    } 
}
button{
    background-color:$boton-hover;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
    :hover{
        background-color: $boton-hover;
    }
}
/* contenido principal de Libros */
main{
    background-color: $color-principal;
    h1{
        color: #000;
        letter-spacing: 8px;
    }
}
.card-container{
    background-color: #612B11;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 90px;
}
.card{
    border-radius: 10px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
}
.card-button{
    text-decoration: none;
    color: #000;
 }   
.card-content{
    background-color: $color-principal;
    padding: 12px;
    h2{
        color: #000;
        font-size: 20px;
        margin-bottom: 10px; 
    }
    p{
        font-size: 14px;
        color:$coloe-secundario;
        margin-bottom: 20px;
    }
    
}
/* contenido de talleres */
.taller{
    width: 100%;
    height: 100vh;

}
.talleres{
    width: 100%;
    display: flex;   
    
}

.tarjetas{
    width: 100%;
    margin: 10px;
    border-radius:6px;
    background-color: #612B11;
    box-shadow:  0px 1px 10px rgba(0, 0, 0, 2);
    cursor:default ;
    transition:  all 400ms ease ;
    :hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 4 ) ;
   }    
}

.tarjetas .contenido{
    color: #000;
    padding:15px ;
    text-align: center;
    p{
        color:#000;
        text-align: center;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        padding: 10px;
        color: #000;
        border: 1px solid black;
        border-radius: 4px;
    }
    a:hover{
        background: rgb(106, 4, 4) ;
        color: fff;
      
      }  
}
/* formulario de contactos */
section{
    text-align: center;
    h1{
       letter-spacing: 8px;
    }
}
.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
    h1 {
        text-align: left;
        letter-spacing: 5px;
    }   
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px;
    p {
        font-size: 1rem;
    }
    i {
        color:rgba(11, 1, 1, 0.84);
        margin-right: 10px;
    
    }
}
form {
    @include flex;
    gap:15px;
    button {
        width: 100%;
        padding: 10px;
        outline: none;
        background: rgb(238, 43, 9);
        color:#fff;
        border:none;
        transition: .1s;
        cursor: pointer;
        font-size: 1rem;
    }
    button:hover,.links  a:hover {
    background: rgb(172, 16, 47);
}
    
}

.input-box {
    position:relative;
    input {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        outline:none;
        background: rgba(255 255 255 / .1);
        border:3px solid transparent;
        letter-spacing: 1px;
        transition:.3s;
        color:#fff;
        
    }
}
.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box  input:focus::placeholder,
.input-box  textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid rgb(220, 20, 20);
    animation: shake .2s;
}

.input-box  textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
    i {
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        right: 10px;
        color:rgba(255 255 255 / .3);
        transition: .3s;
    }
}
.input-box > input:focus ~ i {
    color:crimson;
}

/* footer */
footer{
    background-color: #612B11;
    color: #000;
    font-size: 20px;
    text-align: center;  
}

